---
import BaseLayout from '../layouts/Base.astro';
import LongCopy from '../components/copy/long-copy.astro';
import LeadInText from "../components/copy/lead-in-text.astro";
import Button from 'components/button.astro';
---
<BaseLayout>
    <LongCopy title={true} titleImportance="h1">
        <Fragment slot="title">Services</Fragment>
        <Fragment slot="lead-in">
            <LeadInText tag="h2">
                Web development
            </LeadInText>

            <div class="relative aspect-[350/285] my-10">
                <svg class="absolute top-0 left-0 w-full" viewBox="0 0 690 565" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M674.5 293.5C716.5 444 672.462 565 506.5 565C340.538 565 0 414.498 0 264C0 113.502 113.538 0.499939 279.5 0.499939C445.462 0.499939 601 133 674.5 293.5Z" fill="url(#paint0_linear_5_3)"/>
                    <defs>
                    <linearGradient id="paint0_linear_5_3" x1="-0.591081" y1="322.265" x2="689.074" y2="314.012" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E03DA6"/>
                    <stop offset="0.322917" stop-color="#8015FC"/>
                    <stop offset="0.671875" stop-color="#416199"/>
                    <stop offset="1" stop-color="#33758C"/>
                    </linearGradient>
                    </defs>
                </svg>                  
                <img class="blob-mask absolute w-full h-full" src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&h=400&fp-x=1&q=80" alt="" />
            </div>
        </Fragment>
        <Fragment slot="copy">
            <p>At the core of what I do, web development is the main service that I offer with other services revolving around this.</p>
            <p>The areas covered in web development are vast and fall under this term. If you have a requirement then it’s best getting in touch and discussing it to better understand what you need.</p>
            <p>Some web development tasks that I can help with are:</p>

            <h3 class="font-bold text-xl gradient-heading font-title">Marketing websites:</h3>
            <ul class="list-disc ml-8 space-y-2 !mb-8">
                <li>Start-up business websites</li>
                <li><span class="cursor-help" title="Small and medium-sized enterprises">SME</span> website</li>
                <li><span class="cursor-help" title="Fast-moving consumer goods">FMCG</span> websites</li>
                <li>Simple single page website</li>
                <li>Small-medium multi-page websites</li>
                <li>Large many-page marketing websites</li>
            </ul>

            <h3 class="font-bold text-xl gradient-heading font-title">Ecommerce  websites:</h3>
            <ul class="list-disc ml-8 space-y-2 !mb-8">
                <li>Small-medium sized ecommerce websites</li>
                <li>Large ecommerce sites - <a href="/contact/" class="border-b border-current transition-colors hover:text-[#673ab7]">contact me</a></li>
            </ul>

            <h3 class="font-bold text-xl gradient-heading font-title">Programming/custom developments:</h3>
            <ul class="list-disc ml-8 space-y-2">                
                <li>Custom code development for a CRM integration, email marketing, ecommerce product interactions.</li>
                <li>In-page or full-page animation, page transitions</li>
                <li>Highly interactive pages, such as quote builders, product ordering/customisation, information exploration</li>
            </ul>
            <p class="!mt-8">
                <Button url="/contact/" on={true}>Let's talk about a new project</Button>
            </p>
        </Fragment>
    </LongCopy>
    <LongCopy reverse={true}>
        <Fragment slot="lead-in">
            <LeadInText tag="h2">
                Performance Audit
            </LeadInText>

            <div class="relative aspect-[350/285] my-10">
                <svg class="absolute top-0 left-0 w-full" viewBox="0 0 690 565" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M674.5 293.5C716.5 444 672.462 565 506.5 565C340.538 565 0 414.498 0 264C0 113.502 113.538 0.499939 279.5 0.499939C445.462 0.499939 601 133 674.5 293.5Z" fill="url(#paint0_linear_5_3)"/>
                    <defs>
                    <linearGradient id="paint0_linear_5_3" x1="-0.591081" y1="322.265" x2="689.074" y2="314.012" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E03DA6"/>
                    <stop offset="0.322917" stop-color="#8015FC"/>
                    <stop offset="0.671875" stop-color="#416199"/>
                    <stop offset="1" stop-color="#33758C"/>
                    </linearGradient>
                    </defs>
                </svg>                  
                <img class="blob-mask absolute w-full h-full" src="https://images.unsplash.com/photo-1543617080-0db79d35e926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&h=400&fp-x=0.2&q=80" alt="" />
            </div>
        </Fragment>
        <Fragment slot="copy">
            <p>Ensuring your site is working well is extremely important. In the same way you’d service and MOT a car, looking at how the site is operating, its speed, and what it’s using in order to display what on screen, are the types of information that needs to be kept on top to ensure everything is in good working order.</p>
            <p>It’s extremely easy to add more and more to a website that ultimately then gets underused, or not used at all, causing a website to slow down.</p>
            <p>Ensuring the site is also built correctly and optimally is also critical to a site working well and delivering on its goals.</p>

            <LeadInText tag="h3" size="!text-2xl gradient-heading">
                What's in an audit?
            </LeadInText>
            <p>Undertaking a performance audit may include:</p>
            <ul class="list-disc ml-10 space-y-2">
                <li>Running Google Lighthouse audit as a baseline and picking any low-hanging fruit to make quick-win improvements</li>
                <li>Analysing the website styling (CSS) and interactive parts (Javascript) for its usage and looking for opportunities to remove old/unused parts</li>
                <li>Checking appropriately size images are delivered to different screen sizes/devices</li>
                <li>Analysing how static assets, such as images, CSS, JavaScript is delivered</li>
                <li>Checking server capabilities for modern technologies, such as delivering next-gen image formats, caching headers for static assets, such as images, CSS, Javascript.</li>
            </ul>
            <p class="!mt-8">
                <Button url="/contact/" on={true}>Arrange a performance audit</Button>
            </p>
        </Fragment>
    </LongCopy>

    <div class="p-8 text-center bg-white/40 isolate">
        <h2 class="font-bold gradient-heading text-xl mb-4">Is there a service you would like to know more about?</h2>
        <Button url="/contact/" on={true}>Find out more</Button>
    </div>
</BaseLayout>
